@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;1,100;1,400&family=Estonia&display=swap');

:root {
  --gray: #E5E5E5;
  --soft-gray: #F1F1F1;
  --blue: #3D8AFF;
}

/* font-family: 'Archivo', sans-serif;
font-family: 'Estonia', cursive; */

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

.body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Archivo', sans-serif;
}

main {
  
    max-width: 526px;
    min-height: 701px;
    box-shadow: 0px 10px 8px -8px var(--gray);
    
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}


.header {
  display: flex;
  padding: 16px;
  border: 1px solid var(--gray);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.user-avatar--container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user-avatar {
  width: 100%;
  height: 100%;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 16px;
}
.header__info--name,
.header__info--direction {
  margin: 0;
  font-weight: 400;
}

.header__info--name {
  font-size: 1.4rem;
  font-weight: 500;
}






.section-img {
  position: relative;
}

.swiper {
  max-width: 526px;
  max-height: 325px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}








.comments {
  font-size: 1.2rem;
  padding: 16px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;  

  border: 1px solid var(--gray);
  border-top: none;
  border-radius:  0 0 4px 4px;
}
.icons-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.icons-list__icon {
  list-style: none;
  width: 30px;
  margin: 0 6px;
  position: relative;
}
.icons-list__icon img{
  width: 100%;
}


.chat {
  width: 27px;
}
.chat,
.like,
.plane {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-black-lines{
  position: relative;
  z-index: 1;
  cursor: pointer;
}


/* heart icon */
.heart-red {
  margin-top: 3px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background: red;
  position: absolute;
  cursor: pointer;
  animation: beating 0.3s 1;
}

.display-none {
  display: none;
}

.heart-red:before,
.heart-red:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: red;
  position: absolute;
  
}
.heart-red:before {
  top: 0;
  left: -9px;
}
.heart-red:after {
  top: -9px;
}

@keyframes beating {
  0% {
  	transform: rotate(45deg) scale(0.9);
    z-index: 0;
  }
  50% {
    transform: rotate(45deg) scale(1.5);
    z-index: 2;
  }
  100% {
  	transform: rotate(45deg) scale(1);
    z-index: 0;
  }
}







.p__span {
  font-weight: 600;
}

/* .comments__container {
  overflow: auto;
  max-height: 110px;
} */

.comments__add {
  padding: 20px 15px;
  background-color: var(--soft-gray);
  border-radius: 4px;

  display: flex;
}
.comments__add--input,
.comments__add--button {
  border: none;
  background-color: var(--soft-gray);
}
.comments__add--input {
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 1.5rem;
  outline: none;
}
input:focus {
  background-color: var(--soft-gray);
}

.comments__add--button {
  color: var(--blue);
  font-weight: 700;
  cursor: pointer;
}







.modal {
  display: none;
}
